.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weather-card {
  background-color: rgba(255, 255, 255, 0.2);
  outline: solid 2px rgba(255, 255, 255, 1.0);
  border-radius: 20px;
  height: 40rem;
  width: 30rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.weather-forecast {
  
}