.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  margin-bottom: 2rem;
}

.temperature {
  font-size: 4rem;
  font-weight: 600;
}

.descriptor {
  font-size: 2rem;
}

.temperature, .descriptor {
  display: inline;
  margin-right: 0.5rem;
  font-weight: 100;
}


.current-temperature {
  display: inline;
}

.feels {
  font-size: 2rem;
  font-weight: 600;
}

.hi-lo-temp, .humidity {
  font-size: 1.5rem;
  font-weight: 300;
}

.current-temperature, .hi-lo-temp, .humidity, .feels {
  margin: 0rem;
}