.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  margin-bottom: 2rem;
}

.weather-card {
  background-color: rgba(255, 255, 255, 0.2);
  outline: solid 2px rgba(255, 255, 255, 1.0);
  border-radius: 20px;
  height: auto;
  width: 30rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 1rem; 
}

.temperature {
  font-size: 4rem;
  font-weight: 600;
}

.descriptor {
  font-size: 2rem;
}

.temperature, .descriptor {
  display: inline;
  margin-right: 0.5rem;
  font-weight: 100;
}


.current-temperature {
  display: inline;
}

.feels {
  font-size: 2rem;
  font-weight: 600;
}

.hi-lo-temp, .humidity {
  font-size: 1.5rem;
  font-weight: 300;
}

.current-temperature, .hi-lo-temp, .humidity, .feels {
  margin: 0rem;
}

@keyframes glowing {
  from {text-shadow: 0 0 3px orangered;}
  to {text-shadow: 0 0 10px orangered;}
}

.loading-text {
  margin: 0;
  color: antiquewhite;
  font-size: 2rem;
  text-align: center;
  animation-name: glowing;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}